#  Python
__pycache__/
*.pyc
*.log

# Build artifacts (generados por pip/setuptools)
build/
dist/
*.egg-info/

#  NumPy y Matplotlib
*.npy
*.npz
*.pdf
*.png
*.jpeg
*.wav

# VS Code
.vscode/

#Dataset audio
data/
datasets/
snapshots_contexto/
resutlados_test/
*.hdf5
*.h5